<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 언더스코어를 카멜케이스로 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="AuthVO"
                   type="org.scoula.security.account.domain.AuthVO"/>

        <typeAlias alias="MemberVO"
                   type="org.scoula.security.account.domain.MemberVO"/>

        <typeAlias alias="BoardVO"
                   type="org.scoula.board.domain.BoardVO"/>

        <typeAlias alias="BoardAttachmentVO"
                   type="org.scoula.board.domain.BoardAttachmentVO"/>
    </typeAliases>
</configuration>